:root{
  --button-color: #C0EBA6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  margin: 1rem;
  background-color: #387478;
  border-radius: 1rem;
}
h1{
  color: black;
  background-color: rgb(4, 248, 4);
  padding: 0.5rem;
  width: 90%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
span{
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: #C0EBA6;

}
.question{
  color: rgba(255, 255, 255, 0.8);
  margin: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.category span{
  color: black;
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: #C0EBA6;
}
.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.choice-container li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  height: 3rem;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: medium;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
.choice-container li:active{
  transform: scale(0.95);
}

.choice.correct {
  background-color: rgb(4, 248, 4);
}
.choice.wrong {
  background-color: rgb(255, 0, 0);
}
.view-answer {
  display: none;
  color: black;
  font-size: medium;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(2, 182, 26, 0.75);
}
.disabledNextBtn-warning{
  display: none;
  color: rgb(255, 0, 0);
  font-size: medium;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #C0EBA6;
}
.bottom-div{
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.next-btn.disabled{
  background-color: #c0eba6d1;
  opacity: 0.5;
}
.next-btn.disabled:active{
  transform: scale(1);
}
.next-btn{
  color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
  width: 5rem;
  height: 2rem;
  border: none;
  font-weight: 600;
  font-size: medium;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
}
.view-answer-btn,
.finish-quiz-btn {
  display: none; /* btn is hidden. will be made visble in JS */
  padding: 0.5rem;
  width: 8rem;
  height: 2rem;
  border: none;
  font-weight: 600;
  margin-left: 1rem;
  font-size: medium;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--button-color);
}
#click-me-btn{
  padding: 0.5rem;
  width: 6rem;
  height: 2rem;
  border: none;
  font-size: medium;
  font-weight: 600;
  border-radius: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: var(--button-color);
}
.finish-msg{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  color: rgba(255, 255, 255, 0.9);
}
.view-answer-btn:active, 
.next-btn:active,
.finish-quiz-btn:active,
#click-me-btn:active {
  transform: scale(0.9);
  background-color: #c0eba6d1;
}



